<h1><%= "Messages between #{current_user.name} and #{@receiver.name}" %></h1>
<h2>Post New Message</h3>
<%= form_for :message, url: messages_path do |f| %>
  <%= f.text_field :bodyw, class: "form-control"%>
  <%= f.hidden_field :receiver_id, :value => @receiver.id %>
  <%= f.submit "Post", class: 'btn btn-default' %>
<% end %>

<h2>Previous Messages</h3>
<% @messages.each do |message| %>
  <h3><%= message.body %></h3>
  <p><%= "Posted by #{message.sender.name} on #{message.created_at.strftime("%b %d, %Y - %l:%M%P")}"%>
<% end %>
